.img_profile {
    height: 200px;
    width: auto;
    border-radius: 50% !important;
    overflow: hidden;
    
   
}

.hrdProfile {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;

}
.Information{
    font-size: 20px;
}