<ion-app>
  <ion-tabs>
 

    
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calculate-bmr">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="page1">
        <ion-icon name="calculator-outline"></ion-icon>
        Calculate BMI
      </ion-tab-button>
      <ion-tab-button tab="aboutme">
        <ion-icon name="accessibility-outline"></ion-icon>
        About ME
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
